
/* Codigo css */
:root {
    --fondo: #0b0e14;
    --tarjeta: #1a1d23;
    --texto: #e0e6ed;
    --primario: #c10f0f;
    --secundario: #100202;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--fondo);
    color: var(--texto);
    margin: 0;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, var(--primario), var(--secundario));
    color: white;
    background-image: url(imagenes/img1.jpg);
}

.content {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

.info-card {
    background-color: var(--tarjeta);
    padding: 30px;
    border-radius: 15px;
    border-left: 5px solid var(--primario);
    margin-bottom: 30px;
}

/* Usamos Grid para poner dos columnas */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.feature {
    background-color: var(--tarjeta);
    padding: 20px;
    border-radius: 10px;
    background-image: url(imagenes/img2.jpg);
}

.feature:hover {
    border: 1px solid var(--primario);
}

footer {
    text-align: center;
    font-size: 0.8rem;
    padding: 20px;
    color: #2c2a2a;
}
